@charset "UTF-8";

$yellow: #fbff3f;
$green: #17ca49;
$blue: #2f80ed;
$pink: #EC008C;
$text-color: #333;
$accent-color: #e1e8e8;
$accent: #ecebeb;
$lexend: 'Lexend Deca', sans-serif;

//E5229A
//23,202,73



$breakpoints: (
    'sp':'(max-width:767px)',
    'tab':'(min-width:768px) and (max-width: 1000px)',
    'pc':'(min-width: 1001px)'
);

@mixin mq($breakpoint: sp) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}




body {
    font-family: 'Noto Sans JP', sans-serif;
    color: $text-color;

    &::-webkit-scrollbar {
        width: 12px;
    }
    &::-webkit-scrollbar-thumb {
        background: #797979; /* ハンドルの色 */
      }
      
      &::-webkit-scrollbar-track {
        background: #e1e8e8; /* 背景色 */
      }
}


.inner {
    max-width: 100%;
    padding: 0 40px;
    width: 1000px;
    margin: 0 auto;
    box-sizing: border-box;

    @include mq('sp') {
        padding: 0 24px;
    }

}


.is-sp {

    @include mq('pc') {
        display: none;
    }

    @include mq('tab') {
        display: none;
    }
}

.is-pc {

    @include mq('sp') {
        display: none;
    }

    @include mq('tab') {
        display: none;
    }
}

.is-st {
    @include mq('pc') {
        display: none;
    }
}

.is-pt {
    @include mq('sp') {
        display: none;
    }
}

.none {
    display: none;
}

.ti-pink {
    color: $pink;
}

.ti-green {
    color: $green;
}

.small {
    font-size: 14px;
}

/* ===============================================
# section
=============================================== */
.section-btn {
    position: relative;
    display: inline-block;
    padding-left: 90px;
    color: #000;
    vertical-align: middle;
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 9px;
    font-weight: 400;
    font-family: 'Lexend Deca', sans-serif;
    transition: all .3s;

    &::before {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        content: "";
        left: 4px;
        width: 50px;
        height: 2px;
        background: #000;
    }

    &::after {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        content: "";
        left: 40px;
        width: 14px;
        height: 14px;
        border-top: 2px solid #000;
        border-right: 2px solid #000;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    

    &:hover {
        transform: scale(1.1);
        color: $pink;

        &::before {
            background: $pink;
        }

        &::after {
            border-top: solid $pink;
            border-right: solid $pink;
        }
    }
}

.section2-btn {
    text-align: center;

    a {
        display: inline-block;
        height: 100px;
        line-height: 100px;
        border: solid 3px $accent-color;
        max-width: 300px;
        width: calc(100% - 40px);
        background: #fff;
        cursor: pointer;
        font-weight: 600;
        font-size: 14px;
        letter-spacing: 0.17em;
        transition: all .3s;

        &:hover {
            background: $accent-color;
        }
    }

    @include mq('sp') {
        a {
            height: 60px;
            line-height: 60px;
            width: 130px;
            font-size: 8px;
            letter-spacing: 0.17em;
        }
    }
}



/* ===============================================
# top
=============================================== */
.top {
    margin-top: 150px;
}

.top-inner {
    margin: 0 auto;
    padding: 0 120px;
    position: relative;

    @include mq('sp') {
        padding: 0 40px;
    }
}


.top-img {
    max-width: 1200px;
    margin: 0 auto;

    img {
        width: 100%;
        height: 420px;
        

        @include mq('tab') {
            height: 300px;
        }

        @include mq('sp') {
            height: 200px;
        }
    }
}

.top-text {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);

}

.top-title {
    font-size: 20px;
    font-weight: 400;
}


/* ===============================================
# message
=============================================== */
.message {
    margin-top: 80px;
}

.message-title {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 10px;
    position: relative;
    margin-top: 200px;

    @include mq('sp') {
        letter-spacing: 2px;
        line-height: 30px;
    }

    &::before {
        content: "";
        position: absolute;
        top: -40px;
        left: 17%;
        display: block;
        width: 90px;
        height: 70px;
        border-top: 7px $accent-color solid;
        border-left: 7px solid $accent-color;
        
        @include mq('tab') {
            left: 100px;
            width: 60px;
            height: 50px;
        }

        @include mq('sp') {
            left: 16px;
            width: 40px;
            height: 30px;
        }

    }

    &::after {
        content: "";
        position: absolute;
        top: 100px;
        right: 15%;
        display: block;
        width: 80px;
        height: 70px;
        border-bottom: 7px $accent-color solid;
        border-right: 7px solid $accent-color;

        @include mq('tab') {
            right: 100px;
            width: 60px;
            height: 50px;
            top: 30px;
        }

        @include mq('sp') {
            right: 16px;
            width: 40px;
            height: 30px;
            top: 50px;
        }
    }
}



/* ===============================================
# about
=============================================== */
.about {
    margin-top: 150px;

    @include mq('sp') {
        margin-top: 60px;
    }
}

.about-inner {
    position: relative;
    max-width: 1300px;
    margin: 0 auto;
}


.about-content {
    
}



.about-texts {
    position: absolute;
    left: 47%;
    top: 25%;
    z-index: 30;
    width: 52%;
}
.about-title {
    font-size: 100px;
    letter-spacing: 40px;
    font-family: 'Yeseva One', cursive;
    font-weight: 300;

    @include mq('tab') {
        font-size: 70px;
        letter-spacing: 30px;
    }

    @include mq('sp') {
        font-size: 36px;
        letter-spacing: 10px;
    }
}

.about-text-box {
    padding-left: 130px;

    @include mq('tab') {
        padding-left: 80px;
    }

    @include mq('sp') {
        padding-left: 40px;
    }
}

.about-sub-title {
    font-size: 36px;

    @include mq('tab') {
        font-size: 24px;
    }

    @include mq('sp') {
        font-size: 18px;
    }
}

.about-text {
    line-height: 2;

    @include mq('tab') {
        font-size: 14px;
    }
    @include mq('sp') {
        font-size: 11px;
        line-height: 1.6;
    }
}

.about-button {
    margin-top: 30px;

    @include mq('sp') {
        margin-top: 10px;
    }
}

.ab-arrow {
    position: relative;
    display: inline-block;
    padding-left: 120px;
    color: #000;
    vertical-align: middle;
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 10px;
    font-weight: 400;
    font-family: $lexend;

    @include mq('sp') {
        font-size: 10px;
        padding-left: 50px;
        letter-spacing: 2px;
    }

    &::before,
    &::after {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        content: "";
        vertical-align: middle;
    }
}


.ab-button {
    transition: all .3s;

    &:hover {
        transform: scale(1.1);
        color: $pink;

        &::before {
            background: $pink;
        }

        &::after {
            border-top: solid $pink;
            border-right: solid $pink;
        }
    }

    &::before {
        left: 4px;
        width: 80px;
        height: 1px;
        background: #000;

        @include mq('sp') {
            width: 30px;
            height: 0.5px;
            left: 5px;
        }
    }

    &::after {
        left: 70px;
        width: 12px;
        height: 12px;
        border-top: 2px solid #000;
        border-right: 2px solid #000;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);

        @include mq('sp') {
            left: 18px;
            width: 5px;
            height: 5px;
            left: 28px;
        }
    }
}

.about-img {
    width: 100%;
}
.about-me {
    display: block;
    width: 100%;
    z-index: 2;

    img {
        width: 55%;
    }
}

/* ===============================================
.about-bg {
    display: none;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 600px;
    height: 600px;
    z-index: -1;

    img {
        width: inherit;
        height: inherit;
    }
}

.about-text-img {
    width: 700px;
    height: 300px;
    z-index: 3;
    position: absolute;
    top: -100px;
    right: 130px;
    display: none;

    img {
        width: inherit;
        height: inherit;

    }
}

=============================================== */


/* ===============================================
# works
=============================================== */
.works {
    margin-top: 300px;
}

.works-inner {
    max-width: 1500px;
    margin: 0 auto;
}

.work-title {
    font-size: 100px;
    letter-spacing: 25px;
    font-family: 'Yeseva One', cursive;
    font-weight: 300;

    @include mq('tab') {
        font-size: 70px;
        letter-spacing: 25px;
    }
    @include mq('sp') {
        font-size: 36px;
        letter-spacing: 15px;
        margin-left: 16px;
    }
}

.works-items {
    margin-top: 100px;

    @include mq('sp') {
        padding: 0 16px;
        margin-top: 50px;
    }
}

.works-item {
    &:not(:first-child) {
        margin-top: 180px;

        @include mq('sp') {
            margin-top: 80px;
        }
    }
}

.woks-item-inner {
    width: 780px;
    height: 500px;
    
    margin: 0 auto;
    position: relative;

    @include mq('tab') {
        max-width: 570px;    
    }

    @include mq('sp') {
        width: 60%;
        height: auto;
    }
}

.works-img {
    height: 500px;
    width: 100%;
    border: 1px solid $accent-color;

    @include mq('tab') {
        height: 400px;
    }

    @include mq('sp') {
        width: 100%;
        height: auto;
    }
}

.woks-item-title {
    margin-top: 0;
    font-size: 24px;

    @include mq('sp') {
        font-size: 14px;
    }
}

.works-btn {
    position: absolute;
    bottom: 80px;
    right: -120px;
    
    @include mq('tab') {
        bottom: 150px;
        right: -130px;
    }
    @include mq('sp') {
        &.-ele {
            bottom: 60px;
            right: -70px;
        }

        &.-live {
            bottom: 120px;
            right: -70px;
        }

        &.-sobolon {
            bottom: 120px;
            right: -70px;
        }
    }

}

.arrow {
    position: relative;
    display: inline-block;
    padding-left: 70px;
    color: #000;
    vertical-align: middle;
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 9px;
    font-weight: 400;
    font-family: 'Lexend Deca', sans-serif;

    &::before,
    &::after {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        content: "";
        vertical-align: middle;
    }
}

.wr-button {
    transition: all .3s;

    @include mq('sp') {
        font-size: 10px;
        padding-left: 50px;
        letter-spacing: 2px;
    }

    &:hover {
        transform: scale(1.1);
        color: $pink;

        &::before {
            background: $pink;
        }

        &::after {
            border-top: solid $pink;
            border-right: solid $pink;
        }
    }

    &::before {
        left: 4px;
        width: 50px;
        height: 1px;
        background: #000;

        @include mq('sp') {
            width: 30px;
            height: 0.5px;
            left: 5px;
        }
    }

    &::after {

        left: 41px;
        width: 12px;
        height: 12px;
        border-top: 2px solid #000;
        border-right: 2px solid #000;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);

        @include mq('sp') {
            left: 18px;
            width: 5px;
            height: 5px;
            left: 28px;
        }
    }
}

.works-button {
    margin: 150px 0;

    @include mq('sp') {
        margin: 50px;
        a { 
            height: 60px;
            line-height: 60px;
            width: 130px;
            font-size: 8px;
            letter-spacing: 0.17em;
        }
    }
}

// 書き方1
@import './header';
@import './footer';
@import './about';
@import './work';
@import './detail';
